{{ define "main" }}
<section class="preamble">
    <div class="contents">
        <img class="showArt" src="podtrificusshowart.webp" />
        <p>Podtrificus Totalus was a <i>Harry Potter</i> read along podcast done one chapter at a time. So long as J.K. Rowling financially benefits from the series, we are no longer comfortable promoting it or engaging in discourse — even critical and analytical discourse — around it. Support of the series funds Rowling's hate campaigns, which have real and deadly ramifications, particularly for trans people. </p>
        <p>This website is an archive of the episodes we have completed; love and effort went into them, and we thank our listeners for supporting the show while it ran. If you'd like to keep up with Cassie, <a href="https://esotericbullshit.net/">you can read her blog</a>. Joe does not maintain a public-facing web presence, but sometimes Cassie mentions him on her blog.</p>
    </div>
</section>
<section>
    <h1>Episodes by Book</h1>
    <ul class="homeTags">
        <li><a href="tags/philosophers-stone/" class="homeBook philosophers-stone">Philosopher's Stone</a></li>
        <li><a href="tags/chamber-of-secrets" class="homeBook chamber-of-secrets">Chamber of Secrets</a></li>
        <li><a href="tags/prisoner-of-azkaban/" class="homeBook prisoner-of-azkaban">Prisoner of Azkaban</a></li>
    </ul>
</section>
{{ end }}